{% extends '::menu.html.twig' %}

 {% block styleshets -%}
 {{ parent() }}
 {% endblock %}

{% block content -%}
<div class="col-md-12">

 <h4 style="color:#7B9C0A">Inicio</h4>
 <div class="table-responsive">
    </div>
    {% endblock %}