{% extends '::menu.html.twig' %}

 {% block styleshets -%}
 {{ parent() }}
 {% endblock %}

{% block content -%}
<div class="col-md-12">

 <h1 style="color:#5CB0A1"><span>Sistema Solicitud de HCM</span></h1>
 <div class="table-responsive">
   <div>
              <div style="padding:20px">
                <p>
                  <b>Bienvenidos al portal para el uso de los trabajadores de OPSU. 
                   En este portal usted podrá registrar, solicitar y cargar los datos
                   de cualquier tipo de solicitud referente al seguro.
                  </b>
                </p>
              </div>
            </div>
 </div>
    {% endblock %}